<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Volver a {$backtomasterlink_caption}</a><span>{$pagetitlelabel empresas masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=id]:before {
		content: "{$label empresas id}";
	}
	.bs-gridcell[data-field=descripcion]:before {
		content: "{$label empresas descripcion}";
	}
	.bs-gridcell[data-field=creado]:before {
		content: "{$label empresas creado}";
	}
	.bs-gridcell[data-field=actualizado]:before {
		content: "{$label empresas actualizado}";
	}
	.bs-gridcell[data-field=creado_por]:before {
		content: "{$label empresas creado_por}";
	}
	.bs-gridcell[data-field=actualizado_por]:before {
		content: "{$label empresas actualizado_por}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$descripcion_class}">{$label empresas descripcion}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$descripcion_class} bs-gridcell" data-field=descripcion>{$descripcion_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>