<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel pedidos view}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN fecha_fieldblock}
	<div class="{$fielddispclass_fecha} col-md-6 bs-viewcontrolgroup" data-fieldname="fecha">
		<label class="control-label" for="{$labelfor_fecha}">
			{$label pedidos fecha}
		</label>
		<div class="" >
			{$fecha_value}&nbsp;
		</div>
	</div>
{END fecha_fieldblock}
					{BEGIN latitud_fieldblock}
	<div class="{$fielddispclass_latitud} col-md-6 bs-viewcontrolgroup" data-fieldname="latitud">
		<label class="control-label" for="{$labelfor_latitud}">
			{$label pedidos latitud}
		</label>
		<div class="" >
			{$latitud_value}&nbsp;
		</div>
	</div>
{END latitud_fieldblock}
					{BEGIN longitud_fieldblock}
	<div class="{$fielddispclass_longitud} col-md-6 bs-viewcontrolgroup" data-fieldname="longitud">
		<label class="control-label" for="{$labelfor_longitud}">
			{$label pedidos longitud}
		</label>
		<div class="" >
			{$longitud_value}&nbsp;
		</div>
	</div>
{END longitud_fieldblock}
					{BEGIN delivery_fieldblock}
	<div class="{$fielddispclass_delivery} col-md-6 bs-viewcontrolgroup" data-fieldname="delivery">
		<label class="control-label" for="{$labelfor_delivery}">
			{$label pedidos delivery}
		</label>
		<div class="" >
			{$delivery_value}&nbsp;
		</div>
	</div>
{END delivery_fieldblock}
					{BEGIN total_fieldblock}
	<div class="{$fielddispclass_total} col-md-6 bs-viewcontrolgroup" data-fieldname="total">
		<label class="control-label" for="{$labelfor_total}">
			{$label pedidos total}
		</label>
		<div class="" >
			{$total_value}&nbsp;
		</div>
	</div>
{END total_fieldblock}
					{BEGIN estado_id_fieldblock}
	<div class="{$fielddispclass_estado_id} col-md-6 bs-viewcontrolgroup" data-fieldname="estado_id">
		<label class="control-label" for="{$labelfor_estado_id}">
			{$label pedidos estado_id}
		</label>
		<div class="" >
			{$estado_id_value}&nbsp;
		</div>
	</div>
{END estado_id_fieldblock}
					{BEGIN plataforma_fieldblock}
	<div class="{$fielddispclass_plataforma} col-md-6 bs-viewcontrolgroup" data-fieldname="plataforma">
		<label class="control-label" for="{$labelfor_plataforma}">
			{$label pedidos plataforma}
		</label>
		<div class="" >
			{$plataforma_value}&nbsp;
		</div>
	</div>
{END plataforma_fieldblock}
					{BEGIN observacion_fieldblock}
	<div class="{$fielddispclass_observacion} col-md-6 bs-viewcontrolgroup" data-fieldname="observacion">
		<label class="control-label" for="{$labelfor_observacion}">
			{$label pedidos observacion}
		</label>
		<div class="" >
			{$observacion_value}&nbsp;
		</div>
	</div>
{END observacion_fieldblock}
					{BEGIN user_id_fieldblock}
	<div class="{$fielddispclass_user_id} col-md-6 bs-viewcontrolgroup" data-fieldname="user_id">
		<label class="control-label" for="{$labelfor_user_id}">
			{$label pedidos user_id}
		</label>
		<div class="" >
			{$user_id_value}&nbsp;
		</div>
	</div>
{END user_id_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>Volver a la lista</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>Cerrar ventana</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>Editar</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
