<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel personas masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$nombre_class}">{$label personas nombre}</th>
			<th class="{$apellido_class}">{$label personas apellido}</th>
			<th class="{$celular_class}">{$label personas celular}</th>
			<th class="{$cedula_class}">{$label personas cedula}</th>
			<th class="{$direccion_class}">{$label personas direccion}</th>
			<th class="{$email_class}">{$label personas email}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$nombre_class}">{$nombre_mastervalue}</td>
			<td class="{$apellido_class}">{$apellido_mastervalue}</td>
			<td class="{$celular_class}">{$celular_mastervalue}</td>
			<td class="{$cedula_class}">{$cedula_mastervalue}</td>
			<td class="{$direccion_class}">{$direccion_mastervalue}</td>
			<td class="{$email_class}">{$email_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>