<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default ">					



{BEGIN container_hdr}
<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-header   "> 

{BEGIN logo_block}
<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}


{BEGIN collapse_block}
<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse bs-navcontrolled bs-hidden-xs" aria-expanded="false" >												   
{BEGIN menu_block}
{$menu main horizontal}

{END menu_block}





{BEGIN container_more}
<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}
<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog"></span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		
				{BEGIN exportselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$exportselectedlink_attrs} {$exportselectedlink_span} >Exportar seleccionados</a></li>
		{END exportselected_link}
		
				{BEGIN deleteselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}>Borrar articulos seleccionados</a></li>
		{END deleteselected_link}
		
				<li role="separator" class="divider"></li>	

				{BEGIN asearch_link}
		<li><a href="users_search.php" {$advsearchlink_attrs}>Búsqueda avanzada</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}
		<li><a href=# id="showOptPanel{$id}">Mostrar panel de búsqueda</a></li>
		{END searchPanelTopButtons}	
		
				
				<li role="separator" class="divider"></li>	
		
				
				{BEGIN export_link}
		<li><a target="_blank" href="users_export.php"  {$exportlink_attrs}>Exportar resultados</a></li>
		{END export_link}

				{BEGIN import_link}
		<li><a href="users_import.php?{$crosstable_attrs}"  {$importlink_attrs}>Importar</a></li>
		{END import_link}

				
	</ul>  
</div>

{END more_list}


{BEGIN security_block}
<span {$loggedas_hiddenattr} data-pageid="{$pageid}" data-brick="loggedas" id="login_block{$id}" class="bs-navsection">
	{BEGIN guestloginbutton}
		<button class="btn btn-info" type="button" {$guestloginlink_attrs}>Conectar</button>
	{END guestloginbutton}
	{BEGIN loggedas_message} 
		<span class="dropdown">
			<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"></span>	{$username}</button>
			<ul class="dropdown-menu">
		{BEGIN logoutbutton}
				<li><a href="#" {$logoutlink_attrs}>Desconectarse</a></li>
		{END logoutbutton}
		

	{BEGIN changepwd_link}
				<li><a href="#" {$changepwdlink_attrs}>Cambiar contraseña</a></li>
	{END changepwd_link}
			</ul>
		</span>
	{END loggedas_message}
</span>
{END security_block}



</div>
{END container_more}








{BEGIN container_more_1}
<div {$more_1_chiddenattr} data-pageid="{$pageid}" data-container="more_1" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}
<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

 <div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_more_1}




												</div>						{END container_menu_1}


									</nav>{END container_menu}
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				

{BEGIN container_breadcrumbs}
<div {$breadcrumbs_chiddenattr} data-pageid="{$pageid}" data-container="breadcrumbs" class="    "> 




{BEGIN container_bc}
<div {$bc_chiddenattr} data-pageid="{$pageid}" data-container="bc" class="    "> 

{BEGIN breadcrumbs}
<ol class="breadcrumb">
<li ><a href="{$home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumbs}



</div>
{END container_bc}






</div>
{END container_breadcrumbs}



{BEGIN container_masterinfo}
<div {$masterinfo_chiddenattr} data-pageid="{$pageid}" data-container="masterinfo" class="    "> 

{BEGIN mastertable_block}
<div class="panel panel-info table-panel">
	<div class="panel-heading">
		{$master_heading}
	</div>
	<div class="panel-body">
		{$showmasterfile}
		
	</div>
</div>

{END mastertable_block}



</div>
{END container_masterinfo}


			</div>
			<div class="bs-left" {$blockattr_left}>
				

{BEGIN container_left}
<div {$left_chiddenattr} data-pageid="{$pageid}" data-container="left" class="    "> 

{BEGIN searchPanel}
<div {$searchpanel_hiddenattr} data-pageid="{$pageid}" data-brick="searchpanel" class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} >
	<!-- Search panel content -->
	
	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda
			<span class="caret"></span>
			</button>
		</div>

		
		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>
	
		
		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}


	</div>
	
	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>
		Mostrar todo
		</button>
	</div>
</div>


{END searchPanel}




</div>
{END container_left}


			</div>
			<div class="bs-center bs-screenwidth bs-minwidth">
				

{BEGIN container_gridcontrols}
<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class="row rnr-rowcontainer bs-navcontrolled bs-hidden-xs">




{BEGIN container_add_delete}
<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class=" bottom-margin  col-md-6 "> 

{BEGIN newrecord_controls_block}
		{BEGIN add_link}
		<a {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$addlink_attrs}>Añadir nuevo</a>
	{END add_link}

	
{END newrecord_controls_block}


{BEGIN record_controls_block}
<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
		{BEGIN deleteselected_link}
	<button type="button" class="btn btn-default" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled>Borrar artículos seleccionados</button>
	{END deleteselected_link}
		</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}
<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class=" bottom-margin pull-right text-right col-md-6 "> 

{BEGIN details_found}
<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	{$records_indicator}
	<span>
	{BEGIN recordspp_block}
			{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}


{BEGIN print_friendly}
<span {$printpanel_hiddenattr} data-pageid="{$pageid}" data-brick="printpanel" class="bs-printpanel" id="printpanelblock{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Página para imprimir">
		<span class="glyphicon glyphicon-print" ></span>
		<span class="caret"></span>
    </button>
	<ul class="dropdown-menu pull-right" >
		<li>
			<div class="container-fluid" id="print_friendly_scope{$id}">
				<div class="row">
					<div class="col-md-4">Rango:</div>
										{BEGIN print_friendly_all}
					<div class="col-md-8">
						<label for="printAll{$id}">
							<input type="radio" id="printAll{$id}" data-href="users_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
							Imprimir todas las páginas
						</label>
					</div>
					{END print_friendly_all}
				</div>
				<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printPage{$id}">
							<input type="radio" id="printPage{$id}" data-href="users_print.php?{$crosstable_attrs}" name="printScope" checked>
							Imprimir esta página
						</label>
					</div>
				</div>
								<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printSelection{$id}" style="color: gray;">
							<input type="radio" id="printSelection{$id}" name="printScope" disabled="disabled">
							Imprimir la selección
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="divider" role="separator"></li>

				<li>			
		{BEGIN print_details}
			<div class="rnr-printdetails">
				<label for="printDetailsToggler{$id}">
					<input type="checkbox" id="printDetailsToggler{$id}">
					Detalles de impresión
				</label>
				<div class="rnr-printdetailstables"  id="printdetailstables{$id}" style="display:none;">
					{BEGIN print_details_barrios}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsbarrios{$id}">
									<input type="checkbox" value="barrios" id="printDetailsbarrios{$id}" checked>
									Barrios
								</label>
							</div>
					{END print_details_barrios}
					{BEGIN print_details_ciudades}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsciudades{$id}">
									<input type="checkbox" value="ciudades" id="printDetailsciudades{$id}" checked>
									Ciudades
								</label>
							</div>
					{END print_details_ciudades}
					{BEGIN print_details_clientes}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsclientes{$id}">
									<input type="checkbox" value="clientes" id="printDetailsclientes{$id}" checked>
									Clientes
								</label>
							</div>
					{END print_details_clientes}
					{BEGIN print_details_detalles_facturas}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsdetalles_facturas{$id}">
									<input type="checkbox" value="detalles_facturas" id="printDetailsdetalles_facturas{$id}" checked>
									Detalles Facturas
								</label>
							</div>
					{END print_details_detalles_facturas}
					{BEGIN print_details_detalles_pedidos}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsdetalles_pedidos{$id}">
									<input type="checkbox" value="detalles_pedidos" id="printDetailsdetalles_pedidos{$id}" checked>
									Detalles Pedidos
								</label>
							</div>
					{END print_details_detalles_pedidos}
					{BEGIN print_details_empresas}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsempresas{$id}">
									<input type="checkbox" value="empresas" id="printDetailsempresas{$id}" checked>
									Empresas
								</label>
							</div>
					{END print_details_empresas}
					{BEGIN print_details_estados}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsestados{$id}">
									<input type="checkbox" value="estados" id="printDetailsestados{$id}" checked>
									Estados
								</label>
							</div>
					{END print_details_estados}
					{BEGIN print_details_facturas}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsfacturas{$id}">
									<input type="checkbox" value="facturas" id="printDetailsfacturas{$id}" checked>
									Facturas
								</label>
							</div>
					{END print_details_facturas}
					{BEGIN print_details_insumos}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsinsumos{$id}">
									<input type="checkbox" value="insumos" id="printDetailsinsumos{$id}" checked>
									Insumos
								</label>
							</div>
					{END print_details_insumos}
					{BEGIN print_details_items}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsitems{$id}">
									<input type="checkbox" value="items" id="printDetailsitems{$id}" checked>
									Items
								</label>
							</div>
					{END print_details_items}
					{BEGIN print_details_menus}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsmenus{$id}">
									<input type="checkbox" value="menus" id="printDetailsmenus{$id}" checked>
									Menus
								</label>
							</div>
					{END print_details_menus}
					{BEGIN print_details_paises}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailspaises{$id}">
									<input type="checkbox" value="paises" id="printDetailspaises{$id}" checked>
									Paises
								</label>
							</div>
					{END print_details_paises}
					{BEGIN print_details_pedidos}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailspedidos{$id}">
									<input type="checkbox" value="pedidos" id="printDetailspedidos{$id}" checked>
									Pedidos
								</label>
							</div>
					{END print_details_pedidos}
					{BEGIN print_details_personales}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailspersonales{$id}">
									<input type="checkbox" value="personales" id="printDetailspersonales{$id}" checked>
									Personales
								</label>
							</div>
					{END print_details_personales}
					{BEGIN print_details_personas}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailspersonas{$id}">
									<input type="checkbox" value="personas" id="printDetailspersonas{$id}" checked>
									Personas
								</label>
							</div>
					{END print_details_personas}
					{BEGIN print_details_preparaciones}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailspreparaciones{$id}">
									<input type="checkbox" value="preparaciones" id="printDetailspreparaciones{$id}" checked>
									Preparaciones
								</label>
							</div>
					{END print_details_preparaciones}
					{BEGIN print_details_promociones}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailspromociones{$id}">
									<input type="checkbox" value="promociones" id="printDetailspromociones{$id}" checked>
									Promociones
								</label>
							</div>
					{END print_details_promociones}
					{BEGIN print_details_proveedores}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsproveedores{$id}">
									<input type="checkbox" value="proveedores" id="printDetailsproveedores{$id}" checked>
									Proveedores
								</label>
							</div>
					{END print_details_proveedores}
					{BEGIN print_details_sucursales}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailssucursales{$id}">
									<input type="checkbox" value="sucursales" id="printDetailssucursales{$id}" checked>
									Sucursales
								</label>
							</div>
					{END print_details_sucursales}
					{BEGIN print_details_tipo_items}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailstipo_items{$id}">
									<input type="checkbox" value="tipo_items" id="printDetailstipo_items{$id}" checked>
									Tipo Items
								</label>
							</div>
					{END print_details_tipo_items}
					{BEGIN print_details_tipo_personales}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailstipo_personales{$id}">
									<input type="checkbox" value="tipo_personales" id="printDetailstipo_personales{$id}" checked>
									Tipo Personales
								</label>
							</div>
					{END print_details_tipo_personales}
				</div>
			</div>
		{END print_details}
		</li>
		<li class="divider" role="separator"></li>

				<li>	
			<div class="rnr-printdetails">
				<label for="printPerPage{$id}">
											Resultados por página:
				</label>
				<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
			</div>
		</li>
		<li class="divider" role="separator"></li>
		<li class="rnr-printbutton">				
			<button type="button" class="btn btn-primary" id="print_friendly_button{$id}" >Imprimir</button>			
		</li>
	</ul>	
</span>

{END print_friendly}


{BEGIN field_hide_panel}
<div {$bsfieldhidepanel_hiddenattr} data-pageid="{$pageid}" data-brick="bsfieldhidepanel" id="fildhidepanel{$id}" class="keep-open btn-group" title="Show/hide columns">
	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><i class="glyphicon glyphicon-th-list"></i> <span class="caret"></span></button>
	<ul role="menu" class="dropdown-menu dropdown-left">
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_name" checked="checked" value="1" data-field="name">
			  <span>{$label users name}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_celular" checked="checked" value="1" data-field="celular">
			  <span>{$label users celular}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_email" checked="checked" value="1" data-field="email">
			  <span>{$label users email}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_email_verified_at" checked="checked" value="1" data-field="email_verified_at">
			  <span>{$label users email_verified_at}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_password" checked="checked" value="1" data-field="password">
			  <span>{$label users password}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_created_at" checked="checked" value="1" data-field="created_at">
			  <span>{$label users created_at}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_updated_at" checked="checked" value="1" data-field="updated_at">
			  <span>{$label users updated_at}</span>
			</label>
		</div>
		</a>
		</li>
	</ul>
</div>

{END field_hide_panel}



</div>
{END container_gridinfo}







</div>{END container_gridcontrols}



{BEGIN container_tabs}
<div {$tabs_chiddenattr} data-pageid="{$pageid}" data-container="tabs" class="    "> 

{BEGIN grid_tabs}
<div {$bsgrid_tabs_hiddenattr} data-pageid="{$pageid}" data-brick="bsgrid_tabs">
<ul class="nav nav-tabs">
{$grid_tabs_content}
</ul>
</div>
{END grid_tabs}



</div>
{END container_tabs}



{BEGIN container_messagerow}
<div {$messagerow_chiddenattr} data-pageid="{$pageid}" data-container="messagerow" class="row rnr-rowcontainer ">




{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-12 "> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}






</div>{END container_messagerow}



{BEGIN container_center}
<div {$center_chiddenattr} data-pageid="{$pageid}" data-container="center" class="    "> 




{BEGIN container_grid}
<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="bs-grid    "> 

{BEGIN grid_block}
	<style>
	.bs-gridcell[data-field=id]:before {
		content: "{$label users id}";
	}
	.bs-gridcell[data-field=name]:before {
		content: "{$label users name}";
	}
	.bs-gridcell[data-field=celular]:before {
		content: "{$label users celular}";
	}
	.bs-gridcell[data-field=email]:before {
		content: "{$label users email}";
	}
	.bs-gridcell[data-field=email_verified_at]:before {
		content: "{$label users email_verified_at}";
	}
	.bs-gridcell[data-field=password]:before {
		content: "{$label users password}";
	}
	.bs-gridcell[data-field=remember_token]:before {
		content: "{$label users remember_token}";
	}
	.bs-gridcell[data-field=empresa_id]:before {
		content: "{$label users empresa_id}";
	}
	.bs-gridcell[data-field=created_at]:before {
		content: "{$label users created_at}";
	}
	.bs-gridcell[data-field=updated_at]:before {
		content: "{$label users updated_at}";
	}
</style>
<table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}
								<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<th class="">
										<input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																		{BEGIN users_dtable_column}
									<th >&nbsp;</th>
									{END users_dtable_column}
									
									{BEGIN name_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$name_class}" data-field=name>
									{BEGIN name_fieldheader}
																				<span {$name_orderlinkattrs}>
											{$label users name}
										</span>
									{END name_fieldheader}
									</th>
									{END name_fieldheadercolumn}
									
									
									
									
									{BEGIN celular_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$celular_class}" data-field=celular>
									{BEGIN celular_fieldheader}
																				<span {$celular_orderlinkattrs}>
											{$label users celular}
										</span>
									{END celular_fieldheader}
									</th>
									{END celular_fieldheadercolumn}
									
									
									
									
									{BEGIN email_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$email_class}" data-field=email>
									{BEGIN email_fieldheader}
																				<span {$email_orderlinkattrs}>
											{$label users email}
										</span>
									{END email_fieldheader}
									</th>
									{END email_fieldheadercolumn}
									
									
									
									
									{BEGIN email_verified_at_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$email_verified_at_class}" data-field=email_verified_at>
									{BEGIN email_verified_at_fieldheader}
																				<span {$email_verified_at_orderlinkattrs}>
											{$label users email_verified_at}
										</span>
									{END email_verified_at_fieldheader}
									</th>
									{END email_verified_at_fieldheadercolumn}
									
									
									
									
									{BEGIN password_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$password_class}" data-field=password>
									{BEGIN password_fieldheader}
																				<span {$password_orderlinkattrs}>
											{$label users password}
										</span>
									{END password_fieldheader}
									</th>
									{END password_fieldheadercolumn}
									
									
									
									
									{BEGIN created_at_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$created_at_class}" data-field=created_at>
									{BEGIN created_at_fieldheader}
																				<span {$created_at_orderlinkattrs}>
											{$label users created_at}
										</span>
									{END created_at_fieldheader}
									</th>
									{END created_at_fieldheadercolumn}
									
									
									
									
									{BEGIN updated_at_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$updated_at_class}" data-field=updated_at>
									{BEGIN updated_at_fieldheader}
																				<span {$updated_at_orderlinkattrs}>
											{$label users updated_at}
										</span>
									{END updated_at_fieldheader}
									</th>
									{END updated_at_fieldheadercolumn}
									
									
									
									
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}
<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
	{BEGIN listIcons_column}
	<td class="bs-gridicons" iEditCont="all" {$rowstyle} {$recordattrs}>
		{BEGIN edit_column}
	{BEGIN edit_link}
			<a class="glyphicon glyphicon-pencil" {$editlink_attrs} title="Editar"></a>
	{END edit_link}
	{END edit_column}

		
	<span data-hidden {$ieditbuttonsholder_attrs}></span>

	
		{BEGIN view_column}
	{BEGIN view_link}
			<a class="glyphicon glyphicon-search" {$viewlink_attrs} title="Ver"></a>
	{END view_link}
	{END view_column}
	</td>	
	{END listIcons_column}	

		{BEGIN checkbox_column}
	<td  iEditCont="checkBox" class="bs-gridcheckbox" {$rowstyle} {$recordattrs}>
	{BEGIN checkbox}
	<input type="checkbox" {$checkbox_attrs}>
	{END checkbox}
	</td>
	{END checkbox_column}

		{BEGIN users_dtable_column}
	<td class="rnr-nowrap bs-griddetails" {$rowstyle} {$recordattrs}>
	
			{BEGIN dtables_link}
		
							
				
																																																																	<a {$dtables_link_attrs}  title="Mostrar detalles">
				<span class="badge barrios_badge" {$barrios_childnumber_attr}>
					<span class="glyphicon glyphicon-th-list"></span> 
					<span class="{$barrios_cntspan_class}" >{$barrios_childnumber}</span>
				</span></a>
		{END dtables_link}
	
	
	</td>
	{END users_dtable_column}


	{BEGIN name_fieldcolumn}
	<td class="bs-gridcell {$name_class}"  data-field=name {$rowstyle} {$recordattrs}>
		{$name_value}
	</td>
{END name_fieldcolumn}


	{BEGIN celular_fieldcolumn}
	<td class="bs-gridcell {$celular_class}"  data-field=celular {$rowstyle} {$recordattrs}>
		{$celular_value}
	</td>
{END celular_fieldcolumn}


	{BEGIN email_fieldcolumn}
	<td class="bs-gridcell {$email_class}"  data-field=email {$rowstyle} {$recordattrs}>
		{$email_value}
	</td>
{END email_fieldcolumn}


	{BEGIN email_verified_at_fieldcolumn}
	<td class="bs-gridcell {$email_verified_at_class}"  data-field=email_verified_at {$rowstyle} {$recordattrs}>
		{$email_verified_at_value}
	</td>
{END email_verified_at_fieldcolumn}


	{BEGIN password_fieldcolumn}
	<td class="bs-gridcell {$password_class}"  data-field=password {$rowstyle} {$recordattrs}>
		{$password_value}
	</td>
{END password_fieldcolumn}


	{BEGIN created_at_fieldcolumn}
	<td class="bs-gridcell {$created_at_class}"  data-field=created_at {$rowstyle} {$recordattrs}>
		{$created_at_value}
	</td>
{END created_at_fieldcolumn}


	{BEGIN updated_at_fieldcolumn}
	<td class="bs-gridcell {$updated_at_class}"  data-field=updated_at {$rowstyle} {$recordattrs}>
		{$updated_at_value}
	</td>
{END updated_at_fieldcolumn}

	{BEGIN endrecord_block}
	<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
	{END endrecord_block}
									
	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
										
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}






</div>
{END container_center}



{BEGIN container_pagination}
<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}
<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


			</div>
			<div class="bs-right">
				
			</div>
		</div>
		
		{$footer}
	{END body}
	</body>
</html>
